<link rel="stylesheet" href="event-analytics.component.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

<header>
    <div class="navbar">
      <a class="home-icon" (click)="vendorDashboardDirect()"><i class="fa-solid fa-house"></i></a>
    </div>
</header>  

<div class="content-box">

<div class="container">
    <div class="brand-logo"></div>
    <div class="brand-title">SpotlightSeats</div>
    <table class="table-3d">
      <tbody>
        <tr>
          <td>EVENT NAME</td>
          <td>{{eventName}}</td>
        </tr>
        <tr>
          <td>EVENT LOCATION</td>
          <td>{{eventLocation}}</td>
        </tr>
        <tr>
          <td>EVENT STATUS</td>
          <td>{{eventStatus}}</td>
        </tr>
        <tr>
          <td>TICKET PRICE</td>
          <td>$ {{eventTicketPrice}}</td> <!-- Dollar sign added -->
        </tr>
        <tr>
          <td>TOTAL TICKETS</td>
          <td>{{eventTotalTickets}}</td>
        </tr>
        <tr>
          <td>TICKETS SOLD</td>
          <td>{{calculateSoldTickets()}}</td>
        </tr>
        <tr>
          <td>TICKETS TO BE SOLD</td>
          <td>{{releasedTickets}}</td>
        </tr>
        <tr>
          <td>TOTAL EXPECTED EARNING</td>
          <td>$ {{calculateExpectedEarning()}}</td> <!-- Dollar sign added -->
        </tr>
        <tr>
          <td>CURRENT EARNING</td>
          <td>$ {{calculateCurrentEarning()}}</td> <!-- Dollar sign added -->
        </tr>
        <tr>
          <td>TO BE EARNED</td>
          <td>$ {{calculateToBeEarned()}}</td> <!-- Dollar sign added -->
        </tr>
      </tbody>
    </table>
  </div>
  
</div>

<footer>
    <div>
      <div class="col-lg-12">
        <p>Copyright © SpotlightSeats. All rights reserved.</p>
      </div>
    </div>
</footer>
