<link rel="stylesheet" href="purchase-history.component.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

<header>
  <div class="navbar">
    <a class="home-icon" ><i class="fa-solid fa-house"></i></a>
  </div>
</header>  

<div class="content-box">

<div class='animation-example'>
    <div class='item'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item -type2'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item -type2'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item -type2'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item -type2'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='center'>
        <div class='circle'></div>
        <div class='circle'></div>
        <div class='circle'></div>
    </div>
</div>

<div class="container">
    <ng-container *ngIf="purchases && purchases.length > 0; else noData">
      <h2 style="color: #0078d4;">Purchase Records</h2>
  
      <table class="modern-table">
        <thead>
          <tr>
            <th>Event Name</th>
            <th>Location</th>
            <th>Ticket Count</th>
            <th>Single Ticket Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let purchase of purchases">
            <td>{{ purchase.eventName }}</td>
            <td>{{ purchase.eventLocation }}</td>
            <td>{{ purchase.purchaseCount }}</td>
            <td>{{ purchase.ticketPrice | currency }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  
    <ng-template #noData>
      <div class="no-data">
        <h3>No Purchases Found</h3>
        <p>Couldn't find any purchase records for the customer.</p>
      </div>
    </ng-template>
  </div>
</div>

<footer>
    <div >
      <div class="col-lg-12">
        <p>Copyright © SpotlightSeats. All rights reserved.</p>
      </div>
    </div>
</footer>