<link rel="stylesheet" href="customer-management.component.css">

<div class='animation-example'>
    <div class='item'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item -type2'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item -type2'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item -type2'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item -type2'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='center'>
        <div class='circle'></div>
        <div class='circle'></div>
        <div class='circle'></div>
    </div>
</div>

<div class="container">
    <div class="brand-logo"></div>
    <div class="brand-title">Customer Name</div>
    <form class="inputs">
      <label>CUSTOMER NAME</label>
      <label>CUSTOMER EMAIL</label>
      <label>CUSTOMER CONTACT</label>
      <label>CUSTOMER PRIORITY</label>
      <button type="submit">DELETE CUSTOMER</button>
    </form>
    <a href="#">SpotlightSeats</a>
</div> 