<link rel="stylesheet" href="customer-management.component.css">

<div class='animation-example'>
    <div class='item'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item -type2'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item -type2'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item -type2'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='item -type2'>
        <div class='line'></div>
        <div class='dot'></div>
        <div class='circle'></div>
    </div>
    <div class='center'>
        <div class='circle'></div>
        <div class='circle'></div>
        <div class='circle'></div>
    </div>
</div>

<div class="container">
    <div class="brand-logo"></div>
    <div class="brand-title">{{customerName}}</div>
    <form class="inputs">
      <label>CUSTOMER NAME: {{customerName}}</label>
      <label>CUSTOMER EMAIL: {{customerEmail}}</label>
      <label>CUSTOMER CONTACT: {{customerContact}}</label>
      <label>CUSTOMER PRIORITY: {{customerPriority}}</label>
      <button (click)="deleteCustomer(customerId)">DELETE CUSTOMER</button>
    </form>
    <a href="#">SpotlightSeats</a>
</div> 