<link rel="stylesheet" href="ticket-purchase.component.css">

<header>
  
</header>  
 
<div class="content-box">
    <div class='animation-example'>
        <div class='item'>
            <div class='line'></div>
            <div class='dot'></div>
            <div class='circle'></div>
        </div>
        <div class='item'>
            <div class='line'></div>
            <div class='dot'></div>
            <div class='circle'></div>
        </div>
        <div class='item'>
            <div class='line'></div>
            <div class='dot'></div>
            <div class='circle'></div>
        </div>
        <div class='item'>
            <div class='line'></div>
            <div class='dot'></div>
            <div class='circle'></div>
        </div>
        <div class='item -type2'>
            <div class='line'></div>
            <div class='dot'></div>
            <div class='circle'></div>
        </div>
        <div class='item -type2'>
            <div class='line'></div>
            <div class='dot'></div>
            <div class='circle'></div>
        </div>
        <div class='item -type2'>
            <div class='line'></div>
            <div class='dot'></div>
            <div class='circle'></div>
        </div>
        <div class='item -type2'>
            <div class='line'></div>
            <div class='dot'></div>
            <div class='circle'></div>
        </div>
        <div class='center'>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
        </div>
      </div>
      
      <div class="container">
          <div class="brand-logo"></div>
          <div class="brand-title">{{eventName}}</div>
          <form class="inputs">
            <label>AVAILABLE TICKETS: {{releasedTicketCount}}</label>
            <label>SINGLE TICKET PRICE: {{eventTicketPrice}}</label>
          </form> 

          <form class="inputs" (ngSubmit)="purchaseTickets()">
            <label>TICKET COUNT</label>
            <input
              type="number"
              name="ticketCount"
              [(ngModel)]="ticketCount"
              placeholder="Enter ticket count"
              required
              max="10"
            />
            <button type="submit">PURCHASE TICKETS</button>
          </form>
          
                  
          <a href="#">SpotlightSeats</a>
      </div> 
        
</div>

<footer>
    <div>
      <div class="col-lg-12">
        <p>Copyright © SpotlightSeats. All rights reserved.</p>
      </div>
    </div>
</footer>